@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffff;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  display: flex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}
.md-container {
  flex: 1;
}
.md-section {
  display: grid;
  padding-top: 3rem; /* 48px */
  padding-bottom: 3rem; /* 48px */
  
}
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 100%;
}
.galery{
  display: grid;
    grid-template-areas: 
    "head head",
    "footer"
    ;
   grid-template-rows: repeat(2,1fr);
   grid-template-columns: repeat(2, 1fr);
   gap: 6px;
   justify-content: center;
   align-items: center;

}
img{
  width: 450px;
  height: 450px;
}
.head{
  grid-area: head;
}
.footer{
  grid-area: footer;
  position: relative;
  top: 460px;
  z-index: 1;
  margin-right: 10px;
  padding-right: 10px;
}